<div class="container pt-5 pb-5">
    <div class="col-12">
        <div class="d-flex flex-wrap justify-content-between">
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title font-bold">See my players</h5>
                    <p class="card-text">Access here my team's players information.</p>
                    <a href="/admin/players" class="btn btn-primary">Go!</a>
                </div>
            </div>
        </div>
    </div>
</div>
