<div class="container pt-5 pb-5 h-screen">
    <div class="w-full flex flex-row justify-between">
      <div class="flex flex-row space-x-2" *ngIf="playerSelected !== null">
        <div class="flex flex-col">
          <label for="player-name">Player's name</label>
          <input name="player-name" type="text" class="rounded-md border border-black" [(ngModel)]="playerSelected.name">
        </div>
        <div class="flex flex-col">
          <label for="player-position">Player's position</label>
          <input name="player-position" type="text" class="rounded-md border border-black" [(ngModel)]="playerSelected.position">
        </div>
        <button type="button" class="btn btn-primary bg-blue-600" (click)="closeModal()" *ngIf="!isAdding">Close</button>
        <button type="button" class="btn btn-primary bg-blue-600" (click)="addPlayer()" *ngIf="isAdding">Save</button>
      </div>
      <button type="button" class="btn btn-primary bg-blue-600" (click)="selectNewPlayer()">Add a new player</button>
    </div>
    <div class="col-12">
        <div class="d-flex flex-wrap justify-content-between">
            <div class="card shadow mt-2" *ngFor="let player of players">
                <div class="card-body">
                    <h5 class="card-title font-bold">{{player.name}}</h5>
                    <p class="card-text">{{player.position}}</p>
                    <div class="flex flex-col">
                      <a class="btn btn-primary my-2" (click)="selectPlayer(player)">Edit player</a>
                      <a class="btn btn-primary my-2" (click)="deletePlayer(player)">Remove player</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
